# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
.vitepress/dist
.vitepress/cache

# Environment Variables
.env
.env.local
.env.*.local
.dev.vars

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db 